<body>
<app-header></app-header>
<div class="tester-main-class background">
  <br>
  <br>
  <div class="open-test get-test-field" *ngIf="test==null || test == undefined">
    <mat-form-field appearance="outline" class="test-id">
      <mat-label>Введите ID теста</mat-label>
      <input matInput #test (change)="testId=test.value">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="getTest()">
      Открыть тест
    </button>
    <div *ngIf="errorText!=null">
      <br>
      <span style="color: red"><i>{{errorText}}</i></span>
    </div>
  </div>
  <div *ngIf="test!=null">
    <div class="open-test description-and-name">
      <h1>{{test.name}}</h1>
      <h4><i>{{test.description}}</i></h4>
      <br>
      <div *ngFor="let field of test.additionalFields">
        <mat-form-field appearance="outline" class="additional-fields"
                        (change)="testRequest.additionalFields.set(field, fieldText.value)">
          <mat-label>{{field}}</mat-label>
          <input matInput #fieldText maxlength="100">
        </mat-form-field>
      </div>
    </div>
    <br>
    <div *ngFor="let question of test.questions">
      <div class="open-test description-and-name">
        <h3><i>{{question.text}}</i></h3>
        <div *ngFor="let answer of question.answers">
          <mat-checkbox class="example-margin">{{answer.text}}</mat-checkbox>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
</body>
