.background {
  background: #4d4d4d;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

body {
  background-color: #4d4d4d;
}

mat-label {
  color: white;
}

mat-form-field {
  color: white;
}

.open-test {
  background: #4d4d4d;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  color: white;
  width: 70%;
  padding: 2.5% 2.5% 2.5% 2.5%;
  background: #424242;
}

.get-test-field {
  text-align: center;
}

.test-id {
  width: 70%
}

.description-and-name {
  text-align: justify;
  width: 70%;
}

.additional-fields {
  width: 100%;
}

.line {
  color: #777777
}

.save-button {
  margin: 0 12.4% 50px 12.4%;
}
