<body>
<app-header></app-header>
<div id="container" (change)="testValidation()">
  <br>
  <div class="tester-main-class">
    <br>
    <div class="main-info">
      <br>
      <mat-form-field class="test-namer" appearance="outline">
        <mat-label>Название теста</mat-label>
        <input matInput #testName maxlength="100" (change)="test.name=testName.value">
      </mat-form-field>
      <mat-form-field class="test-namer" appearance="outline">
        <mat-label>Описание теста</mat-label>
        <input matInput #testDescription maxlength="200" (change)="test.description=testDescription.value">
      </mat-form-field>
      <div class="additional-fields-and-button">
        <div class="additional-fields-flex-box1"></div>
        <mat-form-field class="additional-fields" appearance="outline">
          <mat-label>Дополнительное поле (до 50 символов)</mat-label>
          <input matInput maxlength="50" #additionalField [(ngModel)]="additField"
                 (keyup.enter)="addField(additionalField.value)" name="additField">
        </mat-form-field>
        <div class="additional-fields-flex-box2">
          <button class="add-field-button" mat-raised-button color="primary"
                  [disabled]="additionalField.value=='' || test.additionalFields.length>9"
                  (click)="addField(additionalField.value)">
            <mat-icon class="add-icon">add</mat-icon>
          </button>
        </div>
      </div>
      <mat-hint class="additional-fields-helper"><i>Вы можете создать данные поля, чтобы получить дополнительную
        информацию о студенте. Например:
        ФИО, факультет или номер группы</i></mat-hint>
      <br>
      <br>
      <div *ngIf="test.additionalFields.length!=0">
        <details class="additional-fields-helper">
          <summary>Созданные дополнительные поля</summary>
          <div *ngFor="let field of test.additionalFields" class="fields">
            <span class="additional-field">{{field}}
              <mat-icon [inline]="true"
                        (click)="test.additionalFields.splice(test.additionalFields.indexOf(field), 1)">close</mat-icon></span>
          </div>
        </details>
      </div>
      <br>
    </div>
    <br>
    <div class="questionMaker" *ngFor="let question of questions" (change)="validation(question)">
      <div class="question-namer">Вопрос №{{questions.indexOf(question) + 1}}</div>
      <mat-horizontal-stepper labelPosition="bottom" linear>
        <mat-step [stepControl]="firstFormGroups[questions.indexOf(question)]">
          <form [formGroup]="firstFormGroups[questions.indexOf(question)]">
            <ng-template matStepLabel>Основное</ng-template>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Введите вопрос (до 1000 символов)</mat-label>
              <input #question_name maxlength="1000"
                     (change)="question.text=question_name.value" matInput required
                     formControlName="questionCtrlName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" class="points-field">
              <mat-label>Баллов за правильный ответ</mat-label>
              <input maxlength="3" #question_points (change)="setQuestionPoints(question_points.value, question)"
                     matInput
                     required formControlName="questionCtrlPoints" type="number"
                     min="0">
            </mat-form-field>
            <mat-hint class="points-helper"><i>От 0 до 100 баллов</i></mat-hint>
            <br>
            <button mat-raised-button matStepperNext>Далее</button>
          </form>
        </mat-step>
        <!--        step 2-->
        <mat-step label="Варианты ответов" [stepControl]="secondFormGroups[questions.indexOf(question)]">
          <form [formGroup]="secondFormGroups[questions.indexOf(question)]">
            <mat-form-field appearance="outline">
              <mat-label>Введите вариант ответа (до 200 символов)</mat-label>
              <input class="answer-input" maxlength="200" matInput #answerText
                     (change)="question.answers[0].text=answerText.value" required
                     formControlName="firstAnswer">
            </mat-form-field>
            <mat-checkbox class="right-answer-checkbox"
                          (change)="question.answers[0].isCorrect=$event.source.checked">
              Правильный
              вариант ответа
            </mat-checkbox>
            <mat-form-field appearance="outline">
              <mat-label>Введите вариант ответа (до 200 символов)</mat-label>
              <input class="answer2-input" maxlength="200" matInput #answerText2
                     (change)="question.answers[1].text=answerText2.value" required
                     formControlName="secondAnswer">
            </mat-form-field>
            <mat-checkbox class="right-answer-checkbox"
                          (change)="question.answers[1].isCorrect=$event.source.checked">
              Правильный вариант ответа
            </mat-checkbox>
          </form>
          <table class="answer-table">
            <div *ngFor="let answer of question.tempAnswers">
              <tr>
                <td class="answer-text">
                  <mat-form-field appearance="outline">
                    <mat-label>Введите вариант ответа (до 200 символов)</mat-label>
                    <input class="answer-input" maxlength="200" matInput #answerText
                           (change)="answer.text=answerText.value" required>
                  </mat-form-field>
                </td>
                <td>
                  <mat-icon class="remove-icon"
                            (click)="question.tempAnswers.splice(question.tempAnswers.indexOf(answer), 1)">
                    close
                  </mat-icon>
                </td>
              </tr>
              <mat-checkbox class="right-answer-checkbox" (change)="answer.isCorrect=$event.source.checked">Правильный
                вариант ответа
              </mat-checkbox>
              <br>
              <br>
            </div>
          </table>
          <button mat-raised-button matStepperPrevious>Назад</button>
          <button mat-raised-button matStepperNext>Далее</button>
          <br>
          <br>
          <button mat-raised-button color="primary" (click)="addAnswer(question)">Добавить вариант ответа</button>
        </mat-step>
        <mat-step label="Готово!">
          <div class="done">
            <mat-icon color="accent" [inline]="true">done_outline</mat-icon>
            <div class="done-text"><p color="accent">Готово!</p></div>
            <br>
            <div class="done-discription"><p>Вопрос <i>"{{question.text}}"</i> создан. <br> Вы можете его изменить,
              воспользовавшись навигацией выше</p>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <div class="delete-button">
        <button mat-raised-button color="warn" (click)="removeQuestion(question)">Удалить вопрос</button>
      </div>
      <hr color="#4b4b4b">
    </div>
    <button mat-raised-button *ngIf="questions.length<50" (click)="newQuestion()"
            class="add-question">Добавить вопрос
    </button>
    <button mat-raised-button *ngIf="questions.length>0" [disabled]="!testValid" (click)="sendTest(test)">
      Сохранить тест
    </button>
  </div>
  <br>
</div>
</body>
